<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Education</title>
</head>
<body>
<form autocomplete="off" action="#" th:action="@{/processeduction}"
      th:object="${education}" method="post">
    <span th:if="${#fields.hasErrors('school')}"
          th:errors="*{school}">School:</span>
    <input type="text" id="school" placeholder="school"
           th:field="*{school}" /><br />


    <span th:if="${#fields.hasErrors('level')}"
          th:errors="*{level}">Level:</span>
    <input type="text" id="level" placeholder="level"
           th:field="*{level}" /><br />

    <span th:if="${#fields.hasErrors('department')}"
          th:errors="*{department}">Department:</span>
    <input type="text" id="department" placeholder="department"
           th:field="*{department}" /><br />



    <span th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}">year:</span>
    <input type="number" id="" placeholder="year"
           th:field="*{year}" /><br />


    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>